<footer>
    <div class="footer-container">
       
        <div class="footer-logo">
            <img src="..\assets\WhatsApp Image 2024-11-27 at 23.43.17.jpeg" alt="Company Logo" class="logo">
        </div>

       
        <div class="footer-links">
            <div class="footer-links-column">
                <h2>Company</h2>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Teach with Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Refund Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="footer-links-column">
                <h2>For Learners</h2>
                <ul>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>

         
            <div class="footer-socials">
                <h2>Connect with Us</h2>
                <div class="social-links">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
        </div>
    </div>

   
    <div class="footer-bottom">
        <p>Business Legal Name – Skill Land LLP</p>
        <p>© 2023 Skill Land LLP. All Rights Reserved by Skill Land LLP.</p>
    </div>
</footer>
