<div class="hero">
    <img src="https://www.shutterstock.com/image-photo/laptop-computer-notebook-coffee-cup-260nw-2150977743.jpg" class="img" alt="Hero Image">

    <div class="text">
        <h1>About Us</h1>


        <div class="container">
            <div class="box">
                <h2>20+</h2>
                <p>Expert Developer</p>
            </div>
            <div class="box">
                <h2>9.3</h2>
                <p>Average Development Rating</p>
            </div>
            <div class="box">
                <h2>2,00,000+</h2>
                <p>Projects</p>
            </div>
        </div>
        
      
    </div>
</div>



<div class="main-container">
  
    <div class="left-side">
        <h1>Who We Are</h1>
        <p>Skill Nation is an online platform that brings together the best of Industry Experts, Technology, and Education to help you master the skills of the future.</p>
        <ul>
            <li>Network with India's smartest brains</li>
            <li>Get mentored by Industry Experts</li>
            <li>Grow your career with endless opportunities</li>
        </ul>
    </div>

   
    <div class="right-side">
        <img src="../assets/Screenshot (276).png" alt="Skill Nation Image" class="right-image">
    </div>
</div>
<div class="team">

<h1>Our Team</h1>


</div>



<div class="team-container">
    <div class="team-member">
        <div class="image-container">
            <img src="https://t4.ftcdn.net/jpg/10/22/54/01/360_F_1022540179_fK1OrPLHWQTZzD0BVL09qLPMK7NIzGzv.jpg" alt="Jatan Shah" class="team-image">
        </div>
        <div class="info">
            <h3>Jatan Shah</h3>
            <p>Chief Executive Officer</p>
        </div>
    </div>

    <div class="team-member">
        <div class="image-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZHQTWMU8tEY2zM7QZvQ2HlkvF72F5Z2XGOQ&s" alt="Hardik Raja" class="team-image">
        </div>
        <div class="info">
            <h3>Hardik Raja</h3>
            <p>Chief Operating Officer</p>
        </div>
    </div>

    <div class="team-member">
        <div class="image-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeCMC-UfZekMV64W9zeG-1rUM3fTqLovgPMQ&s" alt="Navin Parmar" class="team-image">
        </div>
        <div class="info">
            <h3>Navin Parmar</h3>
            <p>Chief Marketing Officer</p>
        </div>
    </div>

    <div class="team-member">
        <div class="image-container">
            <img src="https://images.picxy.com/cache/2019/7/19/0433e605262a102d974c294dea6512c1.jpg" alt="Virat Sharma" class="team-image">
        </div>
        <div class="info">
            <h3>Virat Sharma</h3>
            <p>Sr. Web Developer & Technical Lead</p>
        </div>
    </div>

    <div class="team-member">
        <div class="image-container">
            <img src="https://img.freepik.com/free-photo/cheerful-african-american-businessman_1262-20994.jpg" alt="Amit Rawool" class="team-image">
        </div>
        <div class="info">
            <h3>Amit Rawool</h3>
            <p>Operation Manager</p>
        </div>
    </div>

    <div class="team-member">
        <div class="image-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa-7QVt_bPXD7N9MGqmfOVo3T5MPQmWujnZg&s" alt="Shray Jaiswal" class="team-image">
        </div>
        <div class="info">
            <h3>Shray Jaiswal</h3>
            <p>Operation Executive</p>
        </div>
    </div>

    <div class="team-member">
        <div class="image-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJ8XH52LfgplYx8eEWL_KzWZ3ACVTgfpGXjA&s" alt="Tushar Mhadlekar" class="team-image">
        </div>
        <div class="info">
            <h3>Tushar Mhadlekar</h3>
            <p>Customer Success Executive</p>
        </div>
    </div>

    <div class="team-member">
        <div class="image-container">
            <img src="https://c8.alamy.com/comp/PJ5JR5/young-male-employee-working-in-the-office-PJ5JR5.jpg" alt="Vamshi Krishna Kallem" class="team-image">
        </div>
        <div class="info">
            <h3>Vamshi Krishna Kallem</h3>
            <p>Customer Success Executive</p>
        </div>
    </div>

    <div class="team-member">
        <div class="image-container">
            <img src="https://plus.unsplash.com/premium_photo-1661297414288-8ed17eb1b3f1?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZW1wbG95ZWV8ZW58MHx8MHx8fDA%3D" alt="Rutuja Mane" class="team-image">
        </div>
        <div class="info">
            <h3>Rutuja Mane</h3>
            <p>Customer Success Executive</p>
        </div>
    </div>

    <div class="team-member">
        <div class="image-container">
            <img src="https://plus.unsplash.com/premium_photo-1661297414288-8ed17eb1b3f1?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZW1wbG95ZWV8ZW58MHx8MHx8fDA%3D" alt="Pooja Damaniya" class="team-image">
        </div>
        <div class="info">
            <h3>Pooja Damaniya</h3>
            <p>Customer Success Executive</p>
        </div>
    </div>

    <div class="team-member">
        <div class="image-container">
            <img src="https://media.istockphoto.com/id/1420697156/photo/leadership-manager-and-team-leader.jpg?s=612x612&w=0&k=20&c=aWg34yOM1mU0RpmHQByWitJXbzLl4w6SUp893KoGjvI=" alt="Sonal Gawas" class="team-image">
        </div>
        <div class="info">
            <h3>Sonal Gawas</h3>
            <p>Customer Success Executive</p>
        </div>
    </div>

    <div class="team-member">
        <div class="image-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYhYfqWtsrvQz_tCtctzOhZYyhD3j5Qsj9Ww&s" alt="Priyal Solanki" class="team-image">
        </div>
        <div class="info">
            <h3>Priyal Solanki</h3>
            <p>Customer Success Executive</p>
        </div>
    </div>

    <div class="team-member">
        <div class="image-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXfLd0sJVKKffkxXPwQnwnMaBbkWJ_k3SKdA&s" alt="Divya Marolikar" class="team-image">
        </div>
        <div class="info">
            <h3>Divya Marolikar</h3>
            <p>Customer Success Executive</p>
        </div>
    </div>

    <div class="team-member">
        <div class="image-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMPMYOXF6_3xPWbsl3B8U-u-Sa6HA_m-BNfA&s" alt="Nisha Yadav" class="team-image">
        </div>
        <div class="info">
            <h3>Nisha Yadav</h3>
            <p>Customer Success Executive</p>
        </div>
    </div>

    <div class="team-member">
        <div class="image-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6n4E_mZRJ-Lm_rrpnhF43Y1XZ_1Y1Rd3HUw&s" alt="Heena Waghela" class="team-image">
        </div>
        <div class="info">
            <h3>Heena Waghela</h3>
            <p>Customer Success Executive</p>
        </div>
    </div>

    <div class="team-member">
        <div class="image-container">
            <img src="https://www.shutterstock.com/image-photo/confident-smiling-female-employee-260nw-339668693.jpg" alt="Farzeen Ansari" class="team-image">
        </div>
        <div class="info">
            <h3>Farzeen Ansari</h3>
            <p>Customer Success Executive</p>
        </div>
    </div>

</div>
<app-footer></app-footer>