

    

  <div class="hero">
    <!-- <video  autoplay loop muted class="img"> -->
        <!-- <source src="../assets/pexels-produtora-midtrack-6509628 (2160p).mp4" type="video/mp4"></video> -->
    <div class="container">
        
      <h1>What We Do</h1>
      <p>Empowering Businesses with Cutting-Edge Software Solutions</p>
    </div>
  </div>

  
    <div class="service">
      <div class="container">
        <div class="service-content">
          <img src="https://th.bing.com/th/id/OIP.ZBOv0EU8keE0yNBrBWJOCAHaD4?rs=1&pid=ImgDetMain" alt="Custom Software Development">
          <div class="text">
            <h2>Custom Software Development</h2>
            <p>We design and build bespoke software solutions that address your specific challenges. From AI to IoT, we deliver excellence every step of the way.</p>
          </div>
        </div>
      </div>
    </div>

  
    <div class="service reverse">
      <div class="container">
        <div class="service-content">
          
          <img src="https://th.bing.com/th/id/OIP.eSsAdCUevbptplcKvFQqMQHaE8?rs=1&pid=ImgDetMain" alt="Mobile App Development">
          <div class="text">
            <h2>Mobile App Development</h2>
            <p>Our seamless, feature-rich mobile apps for iOS and Android ensure a flawless user experience.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="container">
        <div class="service-content">
          <img src="https://th.bing.com/th/id/OIP.8D45cvC6JKLAwyFBNnG-bAHaDs?rs=1&pid=ImgDetMain" alt="UI/UX Design">
          <div class="text">
            <h2>UI/UX Design</h2>
            <p>Crafting visually stunning and user-friendly interfaces, we make every interaction count.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="cta">
      <div class="container">
        <h2>Lets Build Something Great Together</h2>
        <p>Contact us today to discuss your project.</p>
        <a href="contact.html" class="btn">Get in Touch</a>
      </div></div>


  <app-footer></app-footer>