<div class="o">
<div class="b">
<div class="form-container">
    <h2>Login</h2>
    <form (ngSubmit)="onLoginSubmit()" #loginForm="ngForm">
      <input [(ngModel)]="loginModel.email" name="email" type="email" placeholder="Email" required #email="ngModel"/>
      <div *ngIf="email.touched && email.invalid" class="error">
        <small *ngIf="email.errors?.['required']">Email is required</small>
        <small *ngIf="email.errors?.['email']">Invalid email format</small>
      </div>
      
      <input [(ngModel)]="loginModel.password" name="password" type="password" placeholder="Password" required #password="ngModel"/>
      <div *ngIf="password.touched && password.invalid" class="error">
        <small *ngIf="password.errors?.['required']">Password is required</small>
      </div>
      
      <button type="submit" >Login <i class="fa-solid fa-arrow-right-to-bracket"></i></button>
    </form>
  
    <div class="form-switch">
      <label routerLink="/signup">Don't have an account? Sign up</label>
    </div>
  </div>
</div></div>