<div class="hero">
    <img src="https://www.shutterstock.com/image-photo/laptop-computer-notebook-coffee-cup-260nw-2150977743.jpg" class="img" alt="Hero Image">

    <div class="text">
        <h1>Contact Us</h1>


        <div class="container">
            <div class="box">
                <p> phone</p>
                <h2><i class="fa-solid fa-phone"></i> +919970371916</h2>
              
            </div>
            <div class="box">
                <p>Email</p>
                <h2>helloskillnation.ai</h2>
              
            </div>
           
        </div>
        
      
    </div>
</div>

<div class="add">
<h1>Address</h1>

<h4> <i class="fa-solid fa-location-dot"></i>   GROUND FLOOR, OFFICE NO 17, B-WING, GRACE PLAZA SHOPPING PREMISES CS LTD, S. V ROAD,
  <br> <br> Jogeshwari West, Mumbai, Mumbai Suburban, Maharashtra, 400102</h4>


</div>
<div class="a"><h1>Connect with us on…</h1>


</div>
<div class="con" >
    <a href="https://www.instagram.com" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.facebook.com" target="_blank">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://www.linkedin.com" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://www.twitter.com" target="_blank">
        <i class="fa-brands fa-twitter"></i>
      </a>
</div>
<app-footer></app-footer>